version: '3.8'

services:
  php8.1:
    image: ghcr.io/staudenmeir/php:8.1
    working_dir: /var/www/html
    networks:
      - test
    volumes:
      - .:/var/www/html:delegated
      - .docker/xdebug.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
  php8.2:
    image: ghcr.io/staudenmeir/php:8.2
    working_dir: /var/www/html
    networks:
      - test
    volumes:
      - .:/var/www/html:delegated
      - .docker/xdebug.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
  php8.3:
    image: ghcr.io/staudenmeir/php:8.3
    working_dir: /var/www/html
    networks:
      - test
    volumes:
      - .:/var/www/html:delegated
      - .docker/xdebug.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
  mysql:
    image: 'mysql:latest'
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: test
    healthcheck:
      test: mysqladmin ping --silent
      interval: 5s
      timeout: 3s
      retries: 10
    networks:
      - test
  mariadb:
    image: 'mariadb:latest'
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: test
    networks:
      - test
  pgsql:
    image: 'postgres:latest'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: test
    networks:
      - test
  sqlsrv:
    image: 'mcr.microsoft.com/mssql/server:2019-latest'
    environment:
      ACCEPT_EULA: Y
      SA_PASSWORD: Password!
    healthcheck:
      test: /opt/mssql-tools/bin/sqlcmd -S localhost -U sa -P "$${SA_PASSWORD}" -Q "SELECT 1" -b -o /dev/null
      interval: 5s
      timeout: 3s
      retries: 10
    networks:
      - test

networks:
  test:
    driver: bridge
